<!DOCTYPE html>
<html lang="en">
<head>
	<title>Jungle, Accounts</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'packages/leaflet-1.5.1/package/dist/leaflet.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'map/css/dataOut.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/fonts.css' %}">
</head>
	<i id="date" style="display: none;">{{date}}</i>
  <body onload="PlanckMap({{ x }}, {{ y }}, {{ z }});">
		<div class="cont">
			<div id="PlanckMap"></div>
		</div>
		<div class="informations">
			<p class="user">User : {{ username }}</p>
			<p class="code">Code : {{ code }}</p>
			<p class="date">Signal Date : {{ date }}</p>
		</div>

		<script src="{% static 'packages/leaflet-1.5.1/package/dist/leaflet.js' %}"></script>
		<script src="{% static 'map/js/map.js' %}"></script>
  </body>


















</html>
